body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 65vw;
    height: 65vh;
    background: url('./background.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}

.button {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: auto;
    cursor: pointer;
}
